footer {
  background-color: rgb(180, 34, 180);
  margin: 5px;
  border: 2px salmon solid;
  padding: 5px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  grid-area: footer;

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
  }

  h3 {
    font-size: 1rem;
  }

}